<div class="header wrapper">
    <div class="background"></div>
    <nav>
        <ul>
            <li> <a routerLink="" routerLinkActive="active">home</a> </li>
            <li> <a routerLink="portfolio" routerLinkActive="active">portfolio</a> </li>
            <li> <a routerLink="film" routerLinkActive="active">film</a> </li>
            <li> <a routerLink="contact" routerLinkActive="active">contact</a> </li>
            <li> <a routerLink="goat" routerLinkActive="active" style="font-size:x-small;">🐐</a> </li>
        </ul>
    </nav>
    <hr class="hr-animate">

</div>