<div class="wrapper">
    <div class="background"></div>
    <div class="column-one">
        <section class="section">
            <h1>work experience</h1>
            <div class="entry">
                <h3>Summer Technology Analyst</h3>
                <p>Morgan Stanley | May 2024 - Aug 2024</p>
                <ul>
                    <li>ongoing</li>
                </ul>
            </div>
            <div class="entry">
                <h3>Software Engineer Intern</h3>
                <p>Switcheo Labs | May 2023 - Jul 2023</p>
                <ul>
                    <li>built on <u>node.js</u> server to facilitate tracking of real-time trading insights</li>
                    <li>updated frontend of evm block explorer page built on <u>elixir</u></li>
                    <li>migrated evm block explorer and backend insights tracking servers from <u>aws to google cloud</u></li>
                    <li>automated population of on-chain data into spreadsheets for the marketing team</li>
                </ul>
            </div>
            <div class="entry">
                <h3>Software Engineer Intern</h3>
                <p>Cyberlitmus | Jan 2022 - Apr 2022</p>
                <ul>
                    <li>developed rest apis to support user-level data breach activity with <u>golang</u></li>
                    <li>automated generation and distribution of email reports of data breaches</li>
                    <li>created interactive front-end webpages to simulate real-world phishing attacks with <u>angular</u></li>
                </ul>
            </div>
        </section>
        <br>
        <section class="section">
            <h1>education</h1>
            <div class="entry">
                <h3>National University of Singapore</h3>
                <p>Bachelor of Computing (Computer Science), Honours</p>
                <p>Grade: 4.61/5.0</p>
                <p>Focus Areas: Database Systems, Parallel Computing</p>
                <p>NUS Global Merit Scholar</p>
            </div>
        </section>
    </div>
</div>