<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <div class="column-one">
        <div class="pre-name">
            <span role="img" aria-label="wave">👋 </span>
            <span #wordElement></span><span #cursorElement class="cursor">|</span>
            <br>my name is
        </div>
        <div class="name">
            <p class="p-name">victor lai<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">i'm a motivated learner from singapore who loves problem solving.</p>
            <p class="p-second">hoping to make a difference, one line of code at a time.</p>
            <p>here is my <a href="https://drive.google.com/file/d/1JPz7IW9dVA5UfrBfZcwsT9_8H-wMxRGA/view?usp=sharing" target="_b">resume</a>.</p>
            <p class="p-third"><strong style="font-weight:900;">interests:</strong> basketball, tennis, <a routerLink="film" class="filmlink" routerLinkActive="active">film</a>, singing completely out of tune </p>
        </div>
    </div>
    <div class="column-two">
    </div>
</div>